#====================
# Virtual Environment
#====================
venv/
env/
.venv/

#=============
# Python cache
#=============
__pycache__/
*.pyc
*.pyo

#===========
# Data files
#===========
data/raw/*
data/interim/*
data/processed/*

#===================
# Keep empty folders
#===================
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

#============
# Models
#============
models/*.pkl

#=================
# Reports
#=================
reports/figures/*.png
reports/metrics.json
reports/insights.txt
reports/cv_results.txt
reports/tuning_results.txt

#=====================
# Logs
#=====================
logs/*.log

#=====================
# Notebook checkpoints
#=====================
.ipynb_checkpoints/
*.ipynb_checkpoints
